body {
  border-radius: 100%;
  background-color: rgb(71, 154, 255);
  color: rgb(149, 186, 255);
  text-align: center;
  

}

/* Contato.html*/

.formulario-campo {
    display: flex;
    flex:1;
    gap: 16px;
    text-align: center;
    width: 70%;
    justify-content: space-around;
    margin-bottom: 16px;
    
}

.formulario-campo label{
   font-family: "inter",sans-serif;
   font-weight: 400;
}


.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
   width: 300px;
   justify-self: flex-end;
}

button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
   background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(115, 157, 255), 0px 0.3em 0.7em -0.01em rgb(75, 141, 255), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #3f6fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgba(57, 199, 255, 0.99);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(151, 207, 255), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #faffaf;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #62abff;
  transform: translateY(0em);
}